{{> head }}
{{> navbar }}
<div class="row mt-5">
  <div class="col-8">
    <h1>Purrumaw</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque hic quia adipisci officiis exercitationem, suscipit in nemo voluptatum, perspiciatis omnis inventore odio blanditiis excepturi ab! Earum hic libero assumenda voluptate.</p>
  </div>
  <div class="col-4">
    <img src="./assets/img/Purrumaw.jpeg" class="img-thumbnail">
  </div>
</div>
{{> footer }}